<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SIMPEDAKU</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Selamat datang {{dataUser.nama}}</h1>
      <!--      SURAT KETERANGAN-->
      <!--     <h3>SURAT KETERANGAN</h3> -->
      <div class="btn-group">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            -- Pilih --
          </button>
          <ul class="dropdown-menu" id="suket">
            {{#each dataList}}
              <li><a
                  class="dropdown-item"
                  id="dropdown-{{@key}}"
                  href="#dropdown-{{@key}}"
                  aria-controls="dropdown-{{@key}}"
                >{{@key}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>

      <!--  form -->
      <div class="m-5 p-3 border">
        <div id="namaForm"></div>
        <form id="kirim">
          <div id="isiForm" class="border p-3 mb-3">

          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary">Kirim</button>
          </div>
        </form>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script>
      const templateForm = (isi) => { return `<div class="mb-3"> <label
      for="form${isi}" class="form-label">${isi}</label> <input
      class="form-control" id="form${isi}" type="file" accept="image/*"
      capture="user" /> </div>` } const dropdownItems =
      document.querySelectorAll(".dropdown-item"); const listForm = JSON.parse('{{{dataForm}}}')
      dropdownItems.forEach((item) => {
      item.addEventListener("click",function(event) { event.preventDefault();
      $(namaForm).html($(item).html()) $(isiForm).html("") const itemId =
      (item.getAttribute("id")).slice(9, item.getAttribute("id").length) const
      formArr = listForm[itemId] formArr.forEach((item, index) => {
      $(isiForm).prepend(templateForm(item)) }) }) }); $(kirim).on("submit",
      function(ev){ ev.preventDefault() })
    </script>
  </body>
</html>