<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SIMPEDAKU</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>

<!--  NAVIGATION -->    
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SIMPEDAKU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">SIMPEDAKU</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Beranda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Riwayat</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="#">Akun</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<!-- MODAL LOADING -->
<div class="modal" id="modalLoading" tabindex="-1" aria-labelledby="modalLoadingLabel" aria-hidden="true">
  <div class="modal-dialog h-100">
      <div class="modal-content bg-transparent border-0 h-100">
         <div class="row align-items-center h-100">
            <div class="col">
              <div class="d-flex justify-content-center">
                  <div class="spinner-border text-light" role="status">
                      <span class="visually-hidden">Loading...</span>
                  </div>
              </div>
            </div>
          </div>
      </div>
   </div>
</div>

    <div class="container">
      <div class="border-bottom mb-3">
        <h1>{{dataUser.nama}}</h1>
      </div>
      
<!--  DROPDOWN PILIHAN LAYANAN-->
      <div class="btn-group">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            -- Pilih --
          </button>
          <ul class="dropdown-menu" id="suket">
            {{#each dataList}}
              <li><a
                  class="dropdown-item"
                  id="dropdown-{{@key}}"
                  href="#dropdown-{{@key}}"
                  aria-controls="dropdown-{{@key}}"
                >{{@key}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>

<!--  FORM UPLOAD BERKAS -->
      <div class="my-3 p-3 border">
        <h3 id="namaForm" class="mb-3"></h3>
        <form id="kirim" enctype="multipart/form-data">
          <div id="isiForm" class="border p-3 mb-3">

          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary disabled">Kirim</button>
          </div>
        </form>
        <p id="status"></p>
      </div>
 
    </div>
    
<!--    MODAL KET. RT/RW    -->
<div class="modal fade" id="modalKeteranganRt" tabindex="-1" aria-labelledby="modalKeteranganRtLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalKeteranganRtLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="passwordRt" class="form-label">Passkey RT/RW</label>
          <input type="password" class="form-control" id="passwordRt">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
     
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    
    <script>
      // let submitMati = $('button[type="submit"]').hasClass('disabled')
      // if(!submitMati){
      //   $('button[type="submit"]').addClass('disabled')
      // }
      
      const modalLoading = new bootstrap.Modal('#modalLoading')
      const modalKeteranganRt = new bootstrap.Modal('#modalKeteranganRt')
      
      const templateForm = (isi) => { 
        return `<div class="mb-3"> <label
      for="form${isi}" class="form-label">${isi}</label> 
      <input name="${isi}" class="form-control" id="form${isi}" type="file" accept="image/*"
      capture="user" /> </div>` };
      
      const dropdownItems = document.querySelectorAll(".dropdown-item"); 
      const listForm = JSON.parse('{{{dataForm}}}');
      
      dropdownItems.forEach((item) => {
      item.addEventListener("click",function(event) {
          event.preventDefault();
          
          if($('input')){
            $('button[type="submit"]').removeClass('disabled')
          }
        
          $(namaForm).html($(item).html());
            $(isiForm).html("");
            const itemId = (item.getAttribute("id")).slice(9, item.getAttribute("id").length);
            const formArr = listForm[itemId];
        
            formArr.forEach((item, index) => {
                $(isiForm).prepend(templateForm(item)) 
            }) 
        
                   let maxFileSize = 100000000    
          $('#kirim input').change(function(){
            if(this.files[0].size > maxFileSize){
              alert("ukuran file melebihi 100MB")
              this.value = ""
              return false
            }
          })
        
          }) 
        

      }); 
      

        $(kirim).on("submit", async function(ev){ 
            ev.preventDefault()
          
              let kosong = false
              $('#kirim input').each(function(){
                  if(!this.value){
                      kosong = true
                      return false
                  }
              })
          
          if(kosong){
            alert('Lengkapi berkas!')
            return false
          }
          
          var formData = new FormData(ev.target);
        
              formData.append("nik", "{{dataUser.nik}}")
              formData.append("password", "{{dataUser.password}}") 
              formData.append("rw", {{dataUser.rw}})

          if (formData) {
            $('button[type="submit"]').removeClass('disabled')
            const fileList = Object.fromEntries(formData.entries());
            // console.log(fileList)
            
            for (const value of formData.values()) {
              console.log(value);
            }
            
            $.ajax({
              type: "POST",
              url: "/kirimfile",
              data: formData,
              processData: false,
              contentType: false,
              beforeSend: function(){
                modalLoading.show()
              }})
              .done(function(response) {
                  // Tindakan setelah pengunggahan berhasil, misalnya menampilkan pesan sukses
                  $('input').val('')
                  alert(`Gambar berhasil diunggah: ${response.pesanServer}`);
                  modalKeteranganRt.show()
                })
              .fail(function( err ) {
                // Tindakan jika terjadi kesalahan
                alert(JSON.stringfy(err));
              })
              .always(function(){
                modalLoading.hide()
              })
          } else {
            $('#status').text('Pilih gambar terlebih dahulu.');
          }
      })
      
      
    </script>
  </body>
</html>