{{>header}}

{{>navigation}}

{{>modal_loading}}


    <div class="container">
      <div class="border-bottom mb-3">
        <h1>{{dataUser.nama}}</h1>
      </div>
      
<!--  DROPDOWN PILIHAN LAYANAN-->
      <div class="btn-group">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            -- Pilih --
          </button>
          <ul class="dropdown-menu" id="suket">
            {{#each dataList}}
              <li><a
                  class="dropdown-item"
                  id="dropdown-{{@key}}"
                  href="#dropdown-{{@key}}"
                  aria-controls="dropdown-{{@key}}"
                >{{@key}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>

<!--  FORM UPLOAD BERKAS -->
      <div class="my-3 p-3 border shadow">
        <h3 id="namaForm" class="mb-3"></h3>
        <form id="kirim" enctype="multipart/form-data">
          <div id="isiForm" class="border p-3 mb-3">

          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary disabled">Kirim</button>
          </div>
        </form>
        <p id="status"></p>
      </div>
 
    </div>
    
<!--    MODAL KET. RT/RW    -->
<div class="modal fade" id="modalKeteranganRt" tabindex="-1" aria-labelledby="modalKeteranganRtLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalKeteranganRtLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="passwordRt" class="form-label">Passkey RT/RW</label>
          <input type="password" class="form-control" id="passwordRt">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tunda</button>
        <button onclick="kirimKeteranganRt(this)" type="button" class="btn btn-primary">Kirim</button>
      </div>
    </div>
  </div>
</div>
     
    {{>jquery_bootstrap}}
    
    <script>
      
      const modalLoading = new bootstrap.Modal('#modalLoading')
      const modalKeteranganRt = new bootstrap.Modal('#modalKeteranganRt')
      
      const templateForm = (isi) => { 
        return `<div class="mb-3"> <label
      for="form${isi}" class="form-label">${isi}</label> 
      <input name="${isi}" class="form-control" id="form${isi}" type="file" accept="image/*"
      capture="user" /> </div>` };
      
      const dropdownItems = document.querySelectorAll(".dropdown-item"); 
      const listForm = JSON.parse('{{{dataForm}}}');
      
      dropdownItems.forEach((item) => {
      item.addEventListener("click",function(event) {
          event.preventDefault();
          
          if($('input')){
            $('button[type="submit"]').removeClass('disabled')
          }
        
          $(namaForm).html($(item).html());
            $(isiForm).html("");
            const itemId = (item.getAttribute("id")).slice(9, item.getAttribute("id").length);
            const formArr = listForm[itemId];
        
            //isi form input berkas dengan suket.json
            formArr.forEach((item, index) => {
                $(isiForm).prepend(templateForm(item)) 
            }) 
          
            //besar maksimal file yang diupload
            let maxFileSize = 1000000 //1MB
            $('#kirim input').change(function(){
              if(this.files[0].size > maxFileSize){
                alert("ukuran file melebihi 1MB")
                this.value = ""
                return false
              }
            })
          }) 
      }); 
      

        $(kirim).on("submit", async function(ev){ 
            ev.preventDefault()
          
              let kosong = false
              $('#kirim input').each(function(){
                  if(!this.value){
                      kosong = true
                      return false
                  }
              })
          
          if(kosong){
            alert('Lengkapi berkas!')
            return false
          }
          
          var formData = new FormData(ev.target);
        
              formData.append("nik", "{{dataUser.nik}}")
              formData.append("password", "{{dataUser.password}}") 
              formData.append("rw", {{dataUser.rw}})
              formData.append("jenis_layanan", $(namaForm).html())

          if (formData) {
            $('button[type="submit"]').removeClass('disabled')
            // const fileList = Object.fromEntries(formData.entries());
            // console.log(fileList)
            
            for (const value of formData.values()) {
              console.log(value);
            }
            
            $.ajax({
              type: "POST",
              url: "/kirimfile",
              data: formData,
              processData: false,
              contentType: false,
              beforeSend: function(){
                modalLoading.show()
              }})
              .done(function(response) {
                  // Tindakan setelah pengunggahan berhasil, misalnya menampilkan pesan sukses
                  $('input').val('')
                  alert(`Gambar berhasil diunggah: ${response.pesanServer}`);
                  modalKeteranganRt.show()
                })
              .fail(function( err ) {
                // Tindakan jika terjadi kesalahan
                alert(JSON.stringfy(err));
              })
              .always(function(){
                modalLoading.hide()
              })
          } else {
            $('#status').text('Pilih gambar terlebih dahulu.');
          }
      })
      
      function kirimKeteranganRt(e){
        console.log(e)
        
      }
      
    </script>
  </body>
</html>